h1{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blanchedalmond;
    text-align: center;
}
body{
    background-color: rgb(61, 4, 4);

}
.project{
      
        height: 190px;
        width: 10%;
        margin: 5px;
        float: left;
        border:2px solid rgb(70, 5, 5)
        
    
}
.first{
    background-color: powderblue;
}
.sec{
    background-color: darkgoldenrod;
}
.th{
    background-color: floralwhite;
}
.for{
    background-color: mediumblue;
}
.fi{
    background-color: purple;
}
#mar{
    margin-left: 25%;
}
.badu{
    height: 190px;
    width: 10%;   
    border:2px solid rgb(70, 5, 5)
}
left{
    float:left
}